 .elem{
	font-family: 'CookieRun-Regular';
	font-size: 28px;
	min-width: 240px;
	aspect-ratio: 1.6;
	flex-grow: 1;
	flex-shrink: 1;
	border: 2px solid black;
	border-radius: 10px;
	margin: 20px;
}

 .elem__content{
	display: flex;
	align-items: center;
	justify-content: center;
  width : 100%;
  height: 100%;
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media (min-width:768px) and (max-width:1023px) { 
	 .elem{
		min-width: 240px;
		aspect-ratio: 1.6;
		flex-grow: 1;
		flex-shrink: 1;
		background-color: var(--secondary-color);
		margin: 20px;
	}
  
} 

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media (min-width:480px) and (max-width:767px) {
  .elem{
		min-width: 240px;
		aspect-ratio: 1.6;
		flex-grow: 1;
		flex-shrink: 1;
		background-color: var(--secondary-color);
		margin: 20px;
	}
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media(max-width:479px) {
	.elem{
		min-width: 200px;
		aspect-ratio: 1.6;
		flex-grow: 1;
		flex-shrink: 1;
		background-color: var(--secondary-color);
		margin: 20px;
	}
}